WooCommerce Ecommerce Verifier (2).json
{
  "name": "WooCommerce Ecommerce Verifier",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        4320
      ],
      "id": "e72cff96-7865-43ae-adde-6676036b4479",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "={{ $('Loop Over Items1').item.json.domain_url.replace(/\\/+$/, '') }}/wp-json/wc/store/products?per_page=10",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "2c9839dc-1aac-4b90-834d-b5c0c5018afe",
      "name": "Test 4 - Sample 10 products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        5088
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst response = $input.item.json;\nconst statusCode = response.statusCode || 0;\n\nif (statusCode !== 200) {\n  return {\n    api_status: statusCode,\n    products_found: 0,\n    products_with_price: 0,\n    has_add_to_cart: false,\n    verdict: 'NO - API not accessible (status ' + statusCode + ')',\n    passed: false\n  };\n}\n\n// n8n puts the response body in 'body' when includeResponseHeaders is ON\nlet products = [];\ntry {\n  const raw = response.body;\n  if (Array.isArray(raw)) {\n    products = raw;\n  } else if (typeof raw === 'string') {\n    products = JSON.parse(raw);\n  } else if (raw && typeof raw === 'object' && raw.id) {\n    // Single product returned\n    products = [raw];\n  }\n} catch(e) {\n  products = [];\n}\n\nif (products.length === 0) {\n  return {\n    api_status: statusCode,\n    products_found: 0,\n    products_with_price: 0,\n    has_add_to_cart: false,\n    verdict: 'NO - Could not parse products from API',\n    passed: false\n  };\n}\n\n// Count products with real price > 0\nconst withPrice = products.filter(p => {\n  const price = parseFloat(p.prices?.price || 0);\n  const regular = parseFloat(p.prices?.regular_price || 0);\n  return price > 0 || regular > 0;\n});\n\n// Check for \"Add to cart\" button text\nconst hasAddToCart = products.some(p => {\n  const cartText = (p.add_to_cart?.text || '').toLowerCase();\n  return cartText === 'add to cart';\n});\n\n// Check for price range (variable products)\nconst hasPriceRange = products.some(p => p.prices?.price_range !== null && p.prices?.price_range !== undefined);\n\nconst isRealStore = withPrice.length > 0 || hasAddToCart || hasPriceRange;\n\nreturn {\n  api_status: statusCode,\n  products_found: products.length,\n  products_with_price: withPrice.length,\n  has_add_to_cart: hasAddToCart,\n  has_price_range: hasPriceRange,\n  verdict: isRealStore \n    ? 'YES - Real ecommerce (' + withPrice.length + ' products with price)' \n    : 'NO - No purchasable products found',\n  passed: isRealStore\n};\n"
      },
      "id": "03ca202c-7ec8-470d-af03-3e21c0ab4fc5",
      "name": "Analyze product sample",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        5088
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.passed }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c1c000a9-9caf-44be-ad36-19b10d65a94b",
      "name": "If - Is real ecommerce",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1968,
        5088
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-SdSSqGrIFb1IU7eBZrUOnMMWJSCQ91csTn6WgcO0vk",
          "mode": "list",
          "cachedResultName": "Test WooCommerce Ecommerce Verifier",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SdSSqGrIFb1IU7eBZrUOnMMWJSCQ91csTn6WgcO0vk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SdSSqGrIFb1IU7eBZrUOnMMWJSCQ91csTn6WgcO0vk/edit#gid=0"
        },
        "options": {}
      },
      "id": "c3fb2c16-8564-48ad-9339-8532db802fb8",
      "name": "Google Sheets - Read Leads1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -384,
        4320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tN0JafuFGupik28V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "domain_url",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "fc6405f6-cb7c-4f35-b05a-6c760357dcf0",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -208,
        4320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "86e39048-91f8-45a2-a065-1fb52043064b",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -16,
        4320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.woo_verified }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "85c92545-a107-40f1-9ba2-89b8b5d8252b",
      "name": "Skip if already checked1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        192,
        4320
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.domain_url.replace(/\\/+$/, '') }}/wp-json/wc/store/products",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 8000
        }
      },
      "id": "dd063d91-c40b-4080-a39d-eeee65f877bf",
      "name": "Test 1 - WC REST API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        4160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "895b23f9-3c0b-429c-8004-79784130714d",
      "name": "If - API returned products1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        688,
        4160
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Loop Over Items1').item.json.domain_url.replace(/\\/+$/, '') }}/cart",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 8000
        }
      },
      "id": "e1b58589-13fe-4834-977e-f37eb0d4aa92",
      "name": "Test 2 - Cart/Checkout page1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        4304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst response = $input.item.json;\nconst html = (response.body || response.data || '').toString();\nconst lower = html.toLowerCase();\n\nconst hasWooClass =\n  html.includes('woocommerce-cart') ||\n  html.includes('woocommerce-checkout') ||\n  lower.includes('class=\"woocommerce') ||\n  lower.includes(\"class='woocommerce\") ||\n  html.includes('wc-cart') ||\n  html.includes('woocommerce_cart_nonce');\n\nreturn {\n  cart_status: response.statusCode || 0,\n  cart_has_woo: hasWooClass,\n};\n"
      },
      "id": "2f90da5f-c5be-4aa6-81f2-fc649849ad64",
      "name": "Check cart HTML1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        4304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.cart_has_woo }}",
              "value2": true
            }
          ]
        }
      },
      "id": "d99cf4a0-b020-4be9-b4b2-19139896f2d9",
      "name": "If - Cart has WooCommerce1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1456,
        4304
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Loop Over Items1').item.json.domain_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "93683ba4-1f66-4e06-84df-79ec3dc2aa85",
      "name": "Test 3 - Homepage scrape1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        4496
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst response = $input.item.json;\nconst html = (response.body || response.data || '').toString();\nconst lower = html.toLowerCase();\n\nconst signals = {\n  add_to_cart_btn:  html.includes('add_to_cart_button'),\n  woo_price:        html.includes('woocommerce-Price-amount'),\n  woo_body_class:   lower.includes('class=\"woocommerce') || lower.includes(\"class='woocommerce\"),\n  woo_product_link: lower.includes('/product/') || lower.includes('?add-to-cart='),\n  woo_loop:         html.includes('woocommerce-loop') || html.includes('products columns'),\n  woo_notices:      html.includes('woocommerce-notices-wrapper'),\n};\n\nconst score = Object.values(signals).filter(Boolean).length;\nreturn {\n  homepage_score: score,\n  homepage_signals: JSON.stringify(signals),\n  homepage_passed: score >= 2,\n};\n"
      },
      "id": "c04dc011-1349-416f-b435-ed3f96ab22c6",
      "name": "Check homepage signals1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        4496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.homepage_passed }}",
              "value2": true
            }
          ]
        }
      },
      "id": "fb896111-c2c4-401a-8be3-5d757701cf88",
      "name": "If - Homepage has WC signals1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1920,
        4496
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-SdSSqGrIFb1IU7eBZrUOnMMWJSCQ91csTn6WgcO0vk",
          "mode": "list",
          "cachedResultName": "Test WooCommerce Ecommerce Verifier",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SdSSqGrIFb1IU7eBZrUOnMMWJSCQ91csTn6WgcO0vk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SdSSqGrIFb1IU7eBZrUOnMMWJSCQ91csTn6WgcO0vk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "domain_url": "={{ $('Loop Over Items1').item.json.domain_url }}",
            "woo_verified": "YES",
            "woo_check_date": "={{ new Date().toISOString().split('T')[0] }}"
          },
          "matchingColumns": [
            "domain_url"
          ],
          "schema": [
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "categories",
              "displayName": "categories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cluster_domains",
              "displayName": "cluster_domains",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "combined_followers",
              "displayName": "combined_followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_location",
              "displayName": "company_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contact_page_url",
              "displayName": "contact_page_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "country_code",
              "displayName": "country_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created",
              "displayName": "created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "domain_count",
              "displayName": "domain_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "domain_tld1",
              "displayName": "domain_tld1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "domain_url",
              "displayName": "domain_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emails",
              "displayName": "emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "employee_count",
              "displayName": "employee_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated_monthly_pageviews",
              "displayName": "estimated_monthly_pageviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated_monthly_sales",
              "displayName": "estimated_monthly_sales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated_monthly_visits",
              "displayName": "estimated_monthly_visits",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated_yearly_sales",
              "displayName": "estimated_yearly_sales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "facebook",
              "displayName": "facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "facebook_url",
              "displayName": "facebook_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "faq_page_url",
              "displayName": "faq_page_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "favicon_url",
              "displayName": "favicon_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "features",
              "displayName": "features",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "financing_page_url",
              "displayName": "financing_page_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "has_cms",
              "displayName": "has_cms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "instagram_url",
              "displayName": "instagram_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "installed_apps",
              "displayName": "installed_apps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "installed_apps_count",
              "displayName": "installed_apps_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "installed_apps_names",
              "displayName": "installed_apps_names",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "language_code",
              "displayName": "language_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_account",
              "displayName": "linkedin_account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "merchant_name",
              "displayName": "merchant_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "meta_description",
              "displayName": "meta_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "meta_keywords",
              "displayName": "meta_keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phones",
              "displayName": "phones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform_rank",
              "displayName": "platform_rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform_rank_percentile",
              "displayName": "platform_rank_percentile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform_version",
              "displayName": "platform_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "products_sold",
              "displayName": "products_sold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rank",
              "displayName": "rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rank_percentile",
              "displayName": "rank_percentile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "store_locator_url",
              "displayName": "store_locator_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "street_address",
              "displayName": "street_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subregion",
              "displayName": "subregion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "technologies",
              "displayName": "technologies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "technologies_count",
              "displayName": "technologies_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "theme",
              "displayName": "theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_primary",
              "displayName": "email_primary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "has_linkedin",
              "displayName": "has_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sales_num",
              "displayName": "sales_num",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "woo_verified",
              "displayName": "woo_verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "woo_check_date",
              "displayName": "woo_check_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5d726a25-146c-4d23-84bf-995fb3146027",
      "name": "Save - VERIFIED ecommerce1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2432,
        4448
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tN0JafuFGupik28V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-SdSSqGrIFb1IU7eBZrUOnMMWJSCQ91csTn6WgcO0vk",
          "mode": "list",
          "cachedResultName": "Test WooCommerce Ecommerce Verifier",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SdSSqGrIFb1IU7eBZrUOnMMWJSCQ91csTn6WgcO0vk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SdSSqGrIFb1IU7eBZrUOnMMWJSCQ91csTn6WgcO0vk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "domain_url": "={{ $('Google Sheets - Read Leads1').item.json.domain_url }}",
            "woo_check_date": "={{ new Date().toISOString().split('T')[0] }}",
            "woo_verified": "NO"
          },
          "matchingColumns": [
            "domain_url"
          ],
          "schema": [
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "categories",
              "displayName": "categories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cluster_domains",
              "displayName": "cluster_domains",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "combined_followers",
              "displayName": "combined_followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_location",
              "displayName": "company_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contact_page_url",
              "displayName": "contact_page_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "country_code",
              "displayName": "country_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created",
              "displayName": "created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "domain_count",
              "displayName": "domain_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "domain_tld1",
              "displayName": "domain_tld1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "domain_url",
              "displayName": "domain_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emails",
              "displayName": "emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "employee_count",
              "displayName": "employee_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated_monthly_pageviews",
              "displayName": "estimated_monthly_pageviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated_monthly_sales",
              "displayName": "estimated_monthly_sales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated_monthly_visits",
              "displayName": "estimated_monthly_visits",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated_yearly_sales",
              "displayName": "estimated_yearly_sales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "facebook",
              "displayName": "facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "facebook_url",
              "displayName": "facebook_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "faq_page_url",
              "displayName": "faq_page_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "favicon_url",
              "displayName": "favicon_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "features",
              "displayName": "features",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "financing_page_url",
              "displayName": "financing_page_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "has_cms",
              "displayName": "has_cms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "instagram_url",
              "displayName": "instagram_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "installed_apps",
              "displayName": "installed_apps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "installed_apps_count",
              "displayName": "installed_apps_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "installed_apps_names",
              "displayName": "installed_apps_names",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "language_code",
              "displayName": "language_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_account",
              "displayName": "linkedin_account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "merchant_name",
              "displayName": "merchant_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "meta_description",
              "displayName": "meta_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "meta_keywords",
              "displayName": "meta_keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phones",
              "displayName": "phones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform_rank",
              "displayName": "platform_rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform_rank_percentile",
              "displayName": "platform_rank_percentile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform_version",
              "displayName": "platform_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "products_sold",
              "displayName": "products_sold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rank",
              "displayName": "rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rank_percentile",
              "displayName": "rank_percentile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "store_locator_url",
              "displayName": "store_locator_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "street_address",
              "displayName": "street_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subregion",
              "displayName": "subregion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "technologies",
              "displayName": "technologies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "technologies_count",
              "displayName": "technologies_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "theme",
              "displayName": "theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_primary",
              "displayName": "email_primary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "has_linkedin",
              "displayName": "has_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sales_num",
              "displayName": "sales_num",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "woo_verified",
              "displayName": "woo_verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "woo_check_date",
              "displayName": "woo_check_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cb26185f-76d7-44ee-88ce-897d9f2b6653",
      "name": "Save - NOT ecommerce1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2432,
        4800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tN0JafuFGupik28V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "532f13d1-8f09-4ed2-9525-b75ae30b2b12",
      "name": "Wait 1s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2656,
        4448
      ],
      "webhookId": "55b1a27a-727e-4a72-8885-3df87fada97b"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets - Read Leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test 4 - Sample 10 products": {
      "main": [
        [
          {
            "node": "Analyze product sample",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze product sample": {
      "main": [
        [
          {
            "node": "If - Is real ecommerce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Is real ecommerce": {
      "main": [
        [
          {
            "node": "Save - VERIFIED ecommerce1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save - NOT ecommerce1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Read Leads1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Skip if already checked1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if already checked1": {
      "main": [
        [
          {
            "node": "Test 1 - WC REST API1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 1s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test 1 - WC REST API1": {
      "main": [
        [
          {
            "node": "If - API returned products1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - API returned products1": {
      "main": [
        [
          {
            "node": "Test 4 - Sample 10 products",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Test 2 - Cart/Checkout page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test 2 - Cart/Checkout page1": {
      "main": [
        [
          {
            "node": "Check cart HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check cart HTML1": {
      "main": [
        [
          {
            "node": "If - Cart has WooCommerce1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Cart has WooCommerce1": {
      "main": [
        [
          {
            "node": "Save - VERIFIED ecommerce1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Test 3 - Homepage scrape1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test 3 - Homepage scrape1": {
      "main": [
        [
          {
            "node": "Check homepage signals1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check homepage signals1": {
      "main": [
        [
          {
            "node": "If - Homepage has WC signals1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Homepage has WC signals1": {
      "main": [
        [
          {
            "node": "Save - VERIFIED ecommerce1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Test 4 - Sample 10 products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save - VERIFIED ecommerce1": {
      "main": [
        [
          {
            "node": "Wait 1s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save - NOT ecommerce1": {
      "main": [
        [
          {
            "node": "Wait 1s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1s1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7e480f31-d441-4f3b-9a0d-073aa00c5f3c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4288b26414f8312d6a57182ba7bb615093cfdb252e05cfa3d3de0ca754220c46"
  },
  "id": "ZiMwG5b5432C1Zvl",
  "tags": []
}